@import "../../../styles/variable.scss";

.InterludeGlobal {
    width: 100%;
    overflow: hidden;
    margin-bottom: calc(100vh * 2);
    scroll-behavior: none;


    .interludeTextWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10%;
  
      .textColorZone {
        position: absolute;
        z-index: 0;
        padding-top: 25%;
        width: 40%;
        margin-left: 50%;
        transform: translateX(-40%);
        border-radius: 33%/50%;
        background-color: $primary-color;

      }

      .homeInterlude {
        z-index: 2;
        font-family: $font-familly-title;
        font-weight: 200;
        font-size: 15vw;
        clear: both;
        display: inline-block;
        white-space: nowrap;
        color: black;
        //color: transparent;
        //-webkit-text-stroke:1px black;

   

        @media screen and (min-width: 10570px) {
          clear: unset;
          display: flex;
          white-space: unset;
          font-size: 20vw;

          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          hyphens: auto;
          -webkit-hyphens: auto;
          line-height: 25vw;
          width: 100vw;
        }
      }
    }
  }