@import "../../../styles/variable.scss";

.containerGlobal{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    form{
        width: 100%;
    }
}
.containerWrapper{

    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    .searchInput{

        
    
     
        overflow: hidden;
        width: 100%;
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0);
        padding: 6px 10px 6px 10px ;
        background-color: rgba(0, 0, 0, 0.514);
        color: $primary-color;
        font-family: $font-familly-body;
        font-weight: 300;
        transition: 300ms;
        height: 40px;
        font-size: 1rem;
        margin-right: 10px;
   

        &:focus{
            background-color: rgba(0, 0, 0, 0.685);
            border: 1px solid $primary-color;
            outline: none;
        }
        
    }


}
.btnSearch{

    right: 0;
    position: absolute;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 2px 0 0 2px;
    cursor: pointer;
    transition: 300ms;
}
.imageWrapper{
    height: 60%;
    width: 60%;
    position: relative;


    .image{
        height: 100%;
        width: 100%;
        position: relative !important;
        object-fit: cover; // Optional

    }
}
