.cart-list-container {

    overflow-y: auto !important;

    ul{
        margin-top: 0px;
    
        transition: 300ms;
        li{
            padding: 0 0 20px 0;
            margin: 0;

            border-bottom: 1px solid #c1c0c0 ;
        }
        li:first-child{
            
         
        }
        li:last-child{
            
            border-bottom: unset ;
        }
        @media screen and (max-width:350px){
            padding: 0;
            margin: 0;
        }

    }

    .image-wrapper{
        height: 180px;
        width: 120px;
        position: relative;
        
        .image{
            width: 100%;
            height: 100%;
            position: relative !important;
            object-fit: cover; // Optional
            border-radius: 25px;
        }
    }

    .cart-item-container{
        display: flex;
        margin-top: 20px;
      
        align-items: center;
        position: relative;

        .error-icon-item-cart{
            position: absolute;
            display: flex;
            z-index: 2;
         
            margin-left: -8px;
            margin-top: -160px;

            .icon-wrapper{
                
                height: 20px;
                width: 20px;
                position: relative;
                
                .image{
                    width: 100%;
                    height: 100%;
                    position: relative !important;
                    object-fit: cover; // Optional
                    border-radius: 25px;
                }
            }

        }

        .quantity-item-content{
            display: flex;
          
            .btn-quantity{
             
                padding: 2px 20px 3px 20px;
           
                    margin: 5px 1px;
                    
                  
            }

           
              flex-direction: column;

            
        }
        .cart-item-detail{
            .erreur-message-item-cart{
         
                font-size: 0.7rem;
                color: red;
                line-height: 0.7rem;
                margin: 0;
            }

            flex: 1;
            padding: 0 10px;
        }

        .name-item-text{
           font-weight: 200;
           font-size: 1.3rem;
            padding: 0;
            margin: 0;
        }
        .quantity-item-text {
            font-weight: 100;
            font-size: 1rem;
            padding: 0;
            margin: 0;
        }
       
   
        .btn-delete{
            background-color: rgba(163, 163, 163, 0.34);
            border-radius: 50px;
            padding: 2px 12px 3px 12px;
            @media (pointer: fine) {
            &:hover{
                background-color:rgba(19, 19, 19, 0.8);
                color: rgb(255, 192, 192);
            }
        }
            transition: 300ms;

        }
        }

        .cart-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30%;
            align-items: center;

            margin-bottom: 50%;
            .btn-primary{
                margin-top: 20px;
            }

        }
        .cart-total-price{
            text-align: center;

        }
    
}

