.forminput-styles{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    label{
        font-size:0.8rem;

       
    }
    input{
        background-color: $secondary-color-light-gray;
        border: 3px solid white;
        border-radius: 50px;
        padding: 6px 10px 6px 10px ;
        font-style: $font-familly-body;
        font-weight: 300;
        font-size: 1rem;
        transition: 300ms;
    
    }

    input:focus{
   
       border: 3px  solid $primary-color ;
       outline: none;
    }
    &.input-error{
        input {
            border: 3px  solid rgb(252, 123, 123);
        }
    }
    .input-message-error{
        color: red; 
        font-size: 0.6rem;
    }
    
}