div.productsList{

    width: 100%;
 
    display: flex;
    justify-content: center;

    

    .productsList-content{
      padding: 1%;
      @media screen and (max-width:900px){
        width: 100%;
      }
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;

      justify-content: space-between;

    }

    @media screen and (max-width: 770px) {
      .list-product-btn-wrapper{
        display: none;
      }
    }
    .list-product-btn-wrapper{
      position: absolute;
      z-index: 10;
      margin-top: 25%;
    }

    .btn-prev{
      left: 5%;
    }
    .btn-next{
      right: 5%;
    }
   
}


