.product-images-list {
  display: flex;
  flex-direction: column;

  align-items: center;


  .image-wrapper {
    padding-top: 100%;
    @media screen and (max-width:770px){
      padding-top: 150%;
    }
    width: 70%;
    position: relative;
    margin: 5% 0;
    @media screen and (max-width:770px){
      width: 100%;
    }
    .image {
      
      width: 100%;
      height: 100%;
      position: relative !important;
      object-fit: cover; // Optional
      border-radius: 50px;
    }
  }
  .listimages-container{
    
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

  }
  .description-product{
      font-size: 1rem;
      font-weight: 100;
      padding: 50px;
      line-height: 1.6rem;
        padding: 30% 30%;
        strong{
            
            background-color: $primary-color;
            border-radius: 50px;
            font-weight: 100;
            padding: 0 5px;
        }
        @media screen and (max-width:770px){
       
          padding: 30% 15%;
        }

        //TODO: format all tag 
  }
}
