@import "../../../styles/variable.scss";
.homeCategories {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    width: 95%;
    padding: 2%;
    max-width: 1500px;
    @media screen and (max-width: 570px) {
      flex-direction: column;
    }
    .subContainer {
      flex: 1;
      height: 100%;
      max-height: 500px;
      margin: 0 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 60px !important;
      scale:1;
      cursor: pointer;
      overflow: hidden;
      z-index: 6;
      .imageWrapper{
        scale: 1.5;

     
      }
      @media (pointer: fine){
        &:hover{
          h1{
          //background-position-x: 100%;
          animation: none;
          -webkit-text-stroke: 3px $primary-color;
          
  
          }
          .imageWrapper{
            scale: 1.3;
          }
        }
      }

      @media screen and (max-width: 570px) {
        width: 100%;
        height: 100%;
        margin: 10% 0;
        padding: 0;
      }
      h1 {
        margin: 0;
        padding: 0;
        z-index: 3;
        position: absolute;
        font-family: $font-familly-title;
        font-size: clamp(20px, 3vw, 100px);
        font-weight: 200;
        color: #00000000;
        -webkit-text-stroke: 2px $primary-color;

        @media screen and (max-width: 570px) {
          font-size: clamp(20px, 4vw, 100px);
          -webkit-text-stroke: 1px $primary-color;
        }
        animation: bugtitle 5s infinite;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 50%,
          $primary-color 50%
      );
      background-size: 200% 100%;
      background-position-x: 200%;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      

        
      transition:  300ms;

      }

    }
    .imageWrapper{
      width: 100%;
      height: 100%;
      scale: 1.3;
      display: flex;
      justify-content: center;
      transition: scale 300ms ease-in-out;
      z-index: 1;
  
    }
    .imageContainer {

      width: 100%;
      padding-top: 50%;
      position: relative;
      padding-bottom: 20%;

      overflow: hidden;
      z-index: 1;
      @media screen and (max-width: 570px) {
        width: 100%;
        padding-top: 70%;
   
      }
      .image {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative !important;
        object-fit: cover; // Optional
       
      }
    }
  }

  @keyframes bugtitle {
    0% { 
      opacity: 100%; 
    }
    79%{
      opacity: 100%;
    }
    93% { 
      opacity: 30%; 
    }
    96% { 
      opacity: 100%; 
    }
    98% { 
      opacity: 50%; 
    }
    100% { 
      opacity: 100%; 
    }
  
  
  }