@import "../../../styles/variable.scss";
.slide{

    margin: 0;
    padding: 0;

    width: 100vw;


}

.slideIntro{
    display: flex;
    align-items: center;
    z-index: 50;
    height: 90vh;
    width: 100vw;
    @media  screen and (max-width: 768px) {
        flex-direction: column;
        padding:10% 15px;
    }

    .title{

        flex: 2;
        color: $primary-color;
        font-family: $font-familly-title;
        font-weight: 300;
        font-size: 9vw;
        position: relative;
        margin-top: 10px;
        @media  screen and (max-width: 768px) {
            flex: 1;
            font-size: 11vw;
       
     
            margin-top: 50%;
            

        }
        
        }
        .arrowWrapper{
            flex: 1;
            padding:0 2%;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            position: relative;
   
            @media  screen and (max-width: 768px) {
                flex: 1;
             
                justify-self: flex-start;
                 
     
             }
             

            .descriptionShootbook{
                position: absolute;
                color: $primary-color;
                width: 90%;
                font-size: 1rem;
                font-weight: 300;
          
                @media  screen and (max-width: 768px) {
                    position: relative;
                    width: 80%;
                    margin-left: 25%;
              
        
                }
                
            }
        }
}



.TitreSlide{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;

    width: 100vw;
   
    padding: 5% 5%;


    .title{

        animation: bugtitle 5s infinite;
        color: $primary-color;
        font-family: $font-familly-title;
        font-weight: 300;
        font-size: clamp(30px, 4vw, 100px );
        position: relative;
        text-align: center;
        @media  screen and (max-width: 768px) {

        }
        

        
        
        }
}

.TextSlide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    

    .text{

 
        color: $primary-color;
        font-family: $font-familly-body;
        font-weight: 300;
        font-size: 1rem;
        position: relative;
        margin: 10% 0;
        max-width: 500px;

        padding: 3%;
        border-radius:50px ;

        @media  screen and (max-width: 768px) {
            padding: 0 10%
        }
        
        }
}

@keyframes bugtitle {
    0% { 
      opacity: 100%; 
    }
    79%{
      opacity: 100%;
    }
    93% { 
      opacity: 30%; 
    }
    96% { 
      opacity: 100%; 
    }
    98% { 
      opacity: 50%; 
    }
    100% { 
      opacity: 100%; 
    }
  
  
  }
    
