@import "../../../styles/variable.scss";
.slide{

    margin: 0;
    padding: 0;

    width: 100vw;


}

.slideIntro{
    display: flex;
    align-items: center;
    z-index: 50;
    height: 90vh;
    width: 100vw;


    .title{

        flex: 2;
        color: $primary-color;
        font-family: $font-familly-title;
        font-weight: 300;
        font-size: 9vw;
        position: relative;
        margin-top: 10px;
        
        
        }
        .arrowWrapper{
            flex: 1;
            padding:0 2%;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            position: relative;
            .imgWrapper{
                height: 100px;
                width: 100%;
                bottom:45%;
                position: relative;
                .arrow{
                    width: 100%;
                    height: 100%;
                    position: relative !important;
                    object-fit: cover; // Optional
                }
            }

            .descriptionShootbook{
                position: absolute;
                color: $primary-color;
                width: 90%;
                font-size: 1rem;
                font-weight: 300;
                
            }
        }
}



.TitreSlide{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    height: 90vh;
    width: 100vw;


    .title{

 
        color: $primary-color;
        font-family: $font-familly-title;
        font-weight: 300;
        font-size: 4vw;
        position: relative;
        margin-top: 10px;
        text-align: center;

        
        
        }
}


    
