@import "../../styles/variable.scss";



.conatinerBtn{

 
    border-radius: 50px;
 
    color: $secondary-color-black;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 300ms;
    font-family: $font-familly-body;
    font-weight: 200;
    font-size: 1rem;
    &.black{
        background-color: black;
        span{

            color: $primary-color;
        }
    }
    &.border{
        border: 1px solid $primary-color;
    }

    &.transprent{
        background-color: transparent;
        color: $primary-color;
    }
    &.notBlack{
        background-color: #B4FD57;
        span{
            color: black;
        }
    }

    span{
        clear: both;
        display: inline-block;
        white-space: nowrap;
        -webkit-animation-name: slide;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        animation-delay: -2s;
        animation-timing-function: linear
    }
    @media(pointer: fine){
        &:hover{
            cursor:pointer;
            background-color: $secondary-color-black;
        
            font-size: 1.9rem;
            transition: 300ms;
            span{
                color: #B4FD57;
            }
        }
    }

    @-webkit-keyframes slide {
        0% {
            -webkit-transform: translateX(100%);
          
        }

        100% {
            -webkit-transform: translateX(-125%);
      
        }
    }
  }