@import "../../styles/variable.scss";

.containerGlobal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100vw;
    left: 50%;
    top: 0;
    padding: 40px 0 20px;
    
    z-index: 9;

    background-color: #ffffffcc; 

    margin-bottom: 0;

    backdrop-filter: blur(10px);

    transition: 300ms;
    &.headerSmall{
        transform: translate(-50%,-45%);
        span{
            font-family: $font-familly-title;
            width: 200px;
            text-align: center;
            font-size: 0.3rem;
            margin-bottom: 2px;
            &.stepTextCurrent{
                color: $primary-color-darker;
            }
            transition: 300ms;
        }
  
    }
    &.headerBig{
        transform: translate(-50%, -10%);
        span{
            font-family: $font-familly-title;
            width: 100px;
            text-align: center;
            font-size: 0.8rem;
            margin-bottom: 5px;
            &.stepTextCurrent{
                color: $primary-color-darker;
            }
            transition: 300ms;
        }
     
    }

    .stepWrapper{
        width: 100%;
        max-width: 940px;
        padding: 0 20px;
        .stepTextWrapper{
            display: flex;
            justify-content:space-around;
            align-items: center;


        }

        .barBase{
            background-color: rgb(219, 219, 219);
            height: 8px;
            width: 100%;
            border-radius: 50px;
            overflow: hidden;
            .barState{
                background-color:$primary-color;
                height: 8px;
                border-radius: 50px;
                transition: 500ms ease;
            }
            transition: 300ms;
        }
    }
}