.btn{

    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 0px 0 0 2px;
    background-color: #D9D9D9;
    cursor: pointer;
    transition: 300ms;
    @media (pointer: fine){
        &:hover{
            background-color: #eaeaea;
        }
        
    }

}
.imageWrapper{
    height: 60%;
    width: 60%;
    position: relative;
    transition: 300ms;

    &.rotate90{
        transform: rotate(90deg);

    }

    &.notRotate90{
        transform: rotate(0deg);

    }
    .image{
        height: 100%;
        width: 100%;
        position: relative !important;
        object-fit: cover; // Optional

    }
    &.toRight{
        transform: rotate(180deg) !important;
    }
}