@import "../../styles/variable.scss";
.containerGlobal{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    align-items: center;
    @media screen and (max-width:500px){
      
      width: 115%;
      margin: 0 0  -22px -22px;
    }
    .sliderStatusWrapper{
        position: absolute;
        z-index: 2;
        bottom: 8%;
     
        transition: 300ms ease-in-out;
        width: 80%;
        opacity: 0;


        .sliderStatusContainer{
            display: flex;
            background-color: #00000031; 
            backdrop-filter: blur(10px);
            height: 10px;
            @media screen and (max-width:570px) {
                height: 8px;
            }
            width: 100%;
            border-radius: 100px ;
            right: 50%;
            transform: translateX(12.5%);
            justify-content: center;
            align-items: center;
            
            .baseBar{
                background-color: rgb(121, 171, 77);
                height: 1px;
                width: 80%;
                opacity: 0.8;
                border-radius: 50px;
                position: relative;
                .progressBar{
                    position: absolute;
                    height: 2px;
                    background-color: $primary-color;
                    border-radius: 50px;
                    margin-top: -1px;
                    transition: 300ms ease-in-out;
                }
            }
            
        }
    }
    .windowSlider{

      overflow: hidden;
        height: 100%;
        width: 68%;
      position: relative;
      z-index: 0;
      border-radius: 50px;
      transition: 300ms;
        @media screen and (max-width:770px){
            width: 100%;
            border-radius: 0px 0px 60px 60px;
          }
        position: relative;
        display: flex;

        align-items: center;
        
          &:hover{
            .sliderStatusWrapper{
                opacity: 1;
                transition: 300ms
            }

            .btnNextPrev{
                opacity: 1 !important;
            }
          }


        .btnNextPrev{
            position: absolute;
            right: 10px;
            z-index: 2;
            
            transition: 300ms;
   
            &.btnVisible{
                opacity: 1;
                transition: 300ms;
            }
            &.btnNotVisible{
                opacity: 0;
            }
            &.btnNextRight{
              @media screen and (max-width:570px) {
                right: 20px;
            }
            right: 13px;
      
            }
            &.btnNextLeft{
    
                left: 13px;
           
            }
        }

        
      
    }

    .trackImages{
      display: flex;
      
      z-index: 0;
      height: 60vw;
      max-height: 100vh;
      
      @media screen and (max-width:770px){
        height: 150vw;
    
      }

   
      transition: 300ms ease-in-out;
      left: 0;
    }

    .imageWrapper {
        
    

        width: 40vw;
        position: relative !important;
        @media screen and (max-width:770px){
          width: 102vw;
        }


        .image {
     
          width: 100%;
          height: 100%;
          position: relative !important;
          object-fit: cover; // Optional

        }
      }

}




