@import "../../styles/variable.scss";
.globale{
    height: 100vh;
    width: 100vw;
    z-index: 300;
    
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    backdrop-filter: blur(10px);
    --tw-backdrop-blur: blur(10px);


    p{
        font-family: $font-familly-title;
        font-size: 5vh;
        color: transparent;
        -webkit-text-stroke: 2px $primary-color;
        animation: bugtitle 1s infinite;
        text-align: center;
        @media  screen and (max-width: 700px ) {
            -webkit-text-stroke: 1px $primary-color;
        }

    }
    &.black{
      &.quit{
    
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
        border-radius: 0px;
        transform: translateY(0%);

        transition: 500ms ease-in-out;
    }
    &.notQuit{
        opacity: 1;
        transform: translateY(0%);
        background-color: rgb(0, 0, 0);
        transition: 100ms ease-in-out;
    }
    }

    &.white{
      &.quit{
    
        background-color: rgba(255, 255, 255, 0);
        opacity: 0;
        border-radius: 0px;
        transform: translateY(0%);

        transition: 500ms ease-in-out;
    }
    &.notQuit{
        opacity: 1;
        transform: translateY(0%);
        background-color: rgb(255, 255, 255);
        transition: 100ms ease-in-out;
    }
    }
}

@keyframes bugtitle {
    0% { 
      opacity: 100%; 
    }
    60%{
      opacity: 100%;
    }
    70% { 
      opacity: 30%; 
    }
    80% { 
      opacity: 100%; 
    }
    90% { 
      opacity: 50%; 
    }
    100% { 
      opacity: 100%; 
    }
  
  
  }

.loadingbase{
    height: 30px;
    width: 60%;
    border: 2px solid $primary-color;
    display: flex;
    padding: 3px;

    .loadingState{

        height: 100%;
        background-color: $primary-color;
        transition: 2s ease-in-out;
    }
}