@import "../../../../styles/variable.scss";
.slideImage{
    $size: 20;
    $maxw: 300;
    margin: 0;
    padding: 0;

    width: 100vw;
    margin: 10% 0;

    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);

    @media  screen and (max-width: 770px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    }

        .pictureWrapper{

            padding:0 0%;
            display: flex;


                
            
            height: 100%;
           
            flex-direction: column;
            position: relative;
         
            @media  screen and (max-width: 770px) {
       
                position: relative;

        
            }
     


        }
        .descriptionWrapper{

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        left: 71%;
        margin-top: 40%;
      
        @media  screen and (max-width: 770px) {
            justify-content: flex-start;
            left: 0;
            position: relative;
            width: 100%;
            padding: 0 10%;
            margin-top: 0;
        }



  
        .descriptionShootbook{
          
            color: $primary-color;
            
            font-size: 1rem;
            font-weight: 300;
         
     
            max-width: 400px;
            @media  screen and (max-width: 770px) {
                margin-top: 15%;
                position: relative;
                width: 100%;
                padding: 0 15%;
            }

        

            
        }
    }
}