.page-product-style-container{
    padding-top: 60px;
    .product-description-container{

        .grid-wrapper{
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: row;
            @media screen and (max-width:770px){
                flex-direction: column;
            }
            .left-container{
                
                width: 60%;
                @media screen and (max-width:770px){
                    width: 100%;
                }
                
                .image-container-wrapper{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }

            .right-container{
                
               
                
                position: fixed;
                display: flex;
                flex-direction: row;
               
                margin-left: clamp(0px, 58%, 876px);
                width: 40%;
                max-width: 550px;
                margin-bottom: 10%;
              
                @media screen and (max-width:770px){
                    display: none;

   
                }

                
            }

            .right-container-notfixed{
               
           
                opacity: 0;
                transition: 300ms;
        
            }
            .right-container-fixed{
              

                opacity: 1;
                transition: opacity 300ms;
            }

        }
    }

    .wrapper-form{
       
        margin-right: 0;
        
        top: 0;
        
    }



    .button-addtocart-mobile-wrapper-down{
        .btn-primary{
            background-color: black;
            color: $primary-color;
            font-size: 1.5rem;
            transition: 300ms;
        }
    }
    .button-addtocart-hide-down {
        transform: translateY(200%);
        transition: 300ms;
    }
    .button-addtocart-mobile-wrapper{
        display: none;
        transition: 300ms;
        @media screen and (max-width:770px){
            display: flex;
            justify-content: center;
            width: 100%;
            position: fixed;
            z-index:10;
            bottom: 2%
        }
        .paragrphe-porduct-indisponible-mobile-wrapper{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: -3%;
            
            p{
                text-align: center;
                
                
            }
            transition: 300ms;
        }
    }

    .title-price-mobile-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .handle-down{
        margin-top: 0px;
        height:5px;
        width: 60px;
        border-radius: 50px;
        background-color: gray;
        opacity: 0;
        transition: 300ms;
    }


    .button-form-title-price-mobile-wrapper-down {

        .title-mobile{
         
            font-size:20px;
            transition:300ms;
            margin-bottom: 0;

           

        }
        .title-price-mobile-wrapper{
            transition: 300ms;
        }
        .product-form-mobile{
            transform: translateY(100%);
            opacity: 0;
            transition: transform 1500ms;
            transition: opacity 300ms;
        }
        .price-mobile{
            margin-top: 0;
            transition: 300ms;

            &.visible{
                opacity: 1;
            }
    
            &.not-visible{
                opacity: 0;
            }
        }

    }
    .regular-price{
        font-size: 0.9rem;
        text-decoration: line-through;
        margin-left: 10px;

     
    }
    .product-min-price{
        font-size: 0.8rem;
     
        margin: 0;
    }

    .mobile-wrapper-hide-midle-down{
        transform: translateY(75%);
        transition: 400ms;
    }
    .mobile-wrapper-hide-down{
        transform: translateY(120%);
        transition: 400ms;
    }
    .button-form-title-price-mobile-wrapper-up {
        transform: translateY(30%);
        transition:300ms;
        .handle-down{
            margin-top: 8px;
            opacity: 0.3;
        }
        .title-mobile{
         
            font-size:8vw;
            margin-bottom: 10px;
            transition:300ms;
         
           

        }
        .title-price-mobile-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 300ms;
        }

        .price-mobile{
            margin-top: 10px;
            transition: 300ms;
        }

        .product-form-mobile{
            transform: translateY(0%);
            opacity: 1;
            transition: transform 300ms;
            transition: opacity 1s;
        }
    
    }
    .button-form-title-price-mobile-wrapper{
        display: none;
        transform:300ms;
       
        .title-mobile{
            font-family: $font-familly-title;
      
            font-weight: 200;
          

        }
        @media screen and (max-width:770px){
            display: flex;
            flex-direction: column;
            align-items: center;
            

            position: fixed;
            height: 500px;
            width: 100%;
            bottom: 0;
            opacity: 1;
            
            
            background-color: #ffffff93; 
            margin-bottom: 0;
            border-radius: 50px 50px 0 0 ;
            backdrop-filter: blur(10px);

            filter: drop-shadow(0 -8px 10px #58565633);
            z-index: 9;
        }
    }
    .porductLookList-title{
        font-family: $font-familly-title;
        font-weight: 100;
        font-size: 2rem;
        text-align: center;
    }
    .produit-look-container{
        padding-top: 10%;
        position: relative;
        background-color: white;
        padding-left: 0 !important;
        padding-right: 0 !important;
        z-index: 8;
        .productsList{
            padding-left: 0 !important;
            padding-right: 0 !important;

        }

        @media screen and (max-width:770px){
            
        .productsList{
            min-height: unset;
            
        }
        .productsList-content{
            display: flex;
 
            flex-wrap: unset;
            overflow: scroll;
            max-width: unset;
        
            @media screen and (max-width: 600px){
                &::-webkit-scrollbar {
                    display: none;
                  }
              
                  -ms-overflow-style: none; /* IE and Edge */
                  scrollbar-width: none; /* Firefox */
            }
   
            
            .product-card-container{
                &:first-child{
                    margin-left: 15%;
                }
           
               
                max-width: unset;
                min-width: 250px;
                margin: 0 15px;
       
            }
        }
    }
    }

}   