div.page-home-style-container {
  .opacity-0{
    opacity: 0;
    transition: 300ms;
  }
  .opacity-1{
    opacity: 1;
  }
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .lineParent {
    overflow: hidden;
    
  }
  .lineChildren {
    
    transform: translate(0, 500px);
  }
  #headline{
  
    width: 65%;
    .lineChildren {
    
      transform: translate(0, 800px);
    }
  }

  
}
