@import "../../styles/variable.scss";
.footerSection{

}

.footerSectionsContainer{
    margin: 10% 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

   
}
.footerSection{
    flex: 1;
    min-width: 250px;
    margin-right: 2%;
    margin-top: 40px;
    .titleFooterSection{
        font-size: 0.8rem;
        font-weight: 300;
        color: $secondary-color-gray;

    }

    li,ul{
        padding: 0;
        margin: 0;

    }
 

    .titleLink{
        font-size: 1.2rem;
        font-weight: 300;
        @media (pointer: fine) {
            &:hover {
                color: $primary-color-darker;
            }
            
        }
 
      
 
    }
}
