@import "../../styles/variable.scss";
.footerSection{

}
.footer_container{
    position: relative;
    z-index: 2;
    &.bg_white{
        background-color:white !important;
    }
}

.footerSectionsContainer{
    margin: 10% 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 

   
}
.footerSection{
    flex: 1;
    min-width: 250px;
    margin-right: 2%;
    margin-top: 40px;
    z-index: 2;
    &.greenColor{

    .titleLink{
        color: $primary-color-darker !important;
        @media (pointer: fine) {
            &:hover {
                color: $primary-color !important;
            }
            
        }
    }

    .titleFooterSection, .copyrightWrapper{
        color:  $primary-color-darker !important;
    }
    }
    .titleFooterSection{
        font-size: 0.8rem;
        font-weight: 300;
        color: $secondary-color-gray;

    }

    li,ul{
        padding: 0;
        margin: 0;

    }
 

    .titleLink{
        font-size: 1.2rem;
        font-weight: 300;
        color: rgb(80, 80, 80);
        @media (pointer: fine) {
            &:hover {
                color: $primary-color-darker;
            }
            
        }
 
      
 
    }
}

.copyrightWrapper{
    height: 100px;
    display: flex;
    color: rgb(80, 80, 80);
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.8rem;
    z-index: 2;
    position: relative;
    &.greenColor{
        color:  $primary-color-darker !important;
    }
  
}
