@import "../../../styles/variable.scss";

.containerGlobal{
 
    display: flex;
    align-items: center;
    justify-content: center;
  position: relative;
    width: 100%;
 
}
.windowsvideo{
    border-radius: 50px;
    width: 55vh;
    height: 90vh;
    min-height: 80vh;

    position: relative;
    @media screen and (max-width:770px){
      height: 155vw;
      min-height: 10px;
      width: 120vw;
      
      border-radius: 50px;

    }
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtubeViewerFrame{

 height: 115%;
 width: 115%;
 @media screen and (max-width:770px){
    height: 120%;
    width: 115%;
  }
}

