@import "../../../styles/variable.scss";

.containerGlobal{
 
    display: flex;
    align-items: center;
    justify-content: center;
  position: relative;
    width: 100%;
    height: 100%;
 
}
.windowsvideo{
    border-radius: 50px !important;
 
    z-index: 2;
    position: relative;
    &.landscap{
      width: 100%;
      padding-top: 56.4%;
      position: relative;
      .youtubeViewerFrame{

        height: 100%;
        width: 100%;
        bottom: 0%;
        border: none;
        position: absolute;

       }
    
    }
    &.story{
  

      width: 50%;
      padding-top: 89%;
      @media screen and (max-width:600px){
          
        padding-top: 190%;
        width: 100%;
      }
      position: relative;
      .youtubeViewerFrame{
        height: 100%;
        width: 100%;
        bottom: 0%;
        border: none;
        position: absolute;
        @media screen and (max-width:770px){
          
           height: 100%;
           width: 100%;
         }
       }
    }
    position: relative;
    @media screen and (max-width:770px){

      min-height: 10px;
      width: 120vw;
      
      border-radius: 50px;

    }
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}


