@import "../../../styles/variable.scss";

.globalConntainer{

  
    height: 0;
    color: $primary-color;
    overflow: hidden;
    &.show{
        height: 70vh;
        min-height: 300px;
    }
    overflow: hidden;
    border-radius: 50px;
    transition: height 300ms;
 
    .windowsSearch{
        padding: 0 6%;
        @media screen and (max-width:770px){
            padding: 0 2%;
        }
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.56);
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;


    
    }
    .sectionSearchContainer{
        margin-top: 50px;

        .resultContainer{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
    .titleSection{
        font-family: $font-familly-title;
        color: $primary-color;
        font-weight: 200;
        font-size: 0.8rem;
    }
    .loadingWindows{
        width: 100%;
        height:100%;
        
        display: flex;

        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.56);
    }
    .notFoundMessage{
        font-size: 1rem;
    }
}