@import "../../../styles/variable.scss";

.globalConntainer{

  
    height: 400px;
    color: $primary-color;

    overflow: hidden;
    border-radius: 50px;
 
    .windowsSearch{
        padding-left: 20px;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.56);
    height: 100%;
     overflow-y: scroll;
     overflow-x: hidden;


    
    }
    .sectionSearchContainer{
        margin-top: 50px;

        .resultContainer{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
    .titleSection{
        font-family: $font-familly-title;
        color: $primary-color;
        font-weight: 200;
        font-size: 0.8rem;
    }
    .loadingWindows{
        width: 100%;
        height:100%;
        
        display: flex;

        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.56);
    }
    .notFoundMessage{
        font-size: 1rem;
    }
}