@import "../../styles/variable.scss";
.detailCompositionProductContainer{

    border-radius: 70px;
    margin-top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .detailCompositionProductTitle{
        font-family: $font-familly-title;
        font-weight: 200;
        font-size: 2rem;
    }

    .compositionListItemWrapper{
        width: 100%;
    }
    .compositionItemContainer{
        margin-top: 7%;
        display: flex;
        width: 100%;
        height: 100%;
   
            flex-direction: column;
        
        .compositionItemContentLeft{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      
            width: 100%;
            

        }
        .compositionItemContentRight{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
                width: 100%;
                padding: 0 10%;
            
            p{
                font-size: 1rem;
                font-weight: 100;
            }
 

        }
        .imageWrapper {
            padding-top: 50%;
            @media screen and (max-width:570px){
                padding-top: 50%;
            }
            width: 90%;
            position: relative;
            margin: 5% 0;
            @media screen and (max-width:800px){
                width: 100%;
                padding-top: 50%;
            }
            .image {
              
              width: 100%;
              height: 100%;
              position: relative !important;
              object-fit: cover; // Optional
              border-radius: 50px;
            }
          }
    }
}
