@import "../../styles/variable.scss";
.containerCartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        margin-top: 50px;
        font-family: $font-familly-title;
        font-weight: 100;
        font-size: 1.5rem;

    }
    .wrapper{
        width: 100%;
        max-width:500px;
    }
    .cartDetailWrapper{
        border:1px #c1c0c0 solid;
        border-radius: 30px;
        padding: 15px 40px 15px 0px;
        overflow: hidden;

        transition: height 500ms;

       .cartDetailInnerWrapper{
        height: 100%
       }
    }
}




