@import "../../styles/variable.scss";
.containerCartContainer{

    width: 100%;
    margin:0;
    padding:0px;
    
  
    .title{
        margin-top: 50px;
        font-family: $font-familly-title;
        font-weight: 100;
        font-size: 1.5rem;

    }
    .wrapper{
       
        
        width: 100%;
        padding:0px;
        max-width:500px;
        margin:0;
 
    
       
    }
    .cartDetailWrapper{
        width: 100%;
        border:1px #c1c0c0 solid;
        border-radius: 30px;
        padding: 0px 0px 0px 0px;
        overflow: hidden;

        transition: height 500ms;

       .cartDetailInnerWrapper{
        height: 100%
       }
    }
}




