@import "../../../styles/variable.scss";

.resultItemContainer{

    border: 1px $primary-color solid;
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 30px;
    height: 130px;
    transition: 300ms;
    padding: 20px;
    display: flex;
    align-items: center;


    &.containerPortrait{
   
        width: 250px;
        .imageWrapper{
            width: 60px;
        }
    }

    &.containerNotPortrait{
   
        width: 300px;
        .imageWrapper{
            width: 120px;
        }
    }
    cursor: pointer;
    .imageWrapper{
        height: 100%;
        border: 1px solid $primary-color;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        .image{
            height: 100%;
            width: 100%;
            position: relative !important;
            object-fit: cover; // Optional
        }
    }

    .titleWrapper{
        color: $primary-color;
        font-weight: 200;
        font-style: $font-familly-body;
        size: 0.9rem;
        margin-left: 15px;
        max-width: 100px;

    }

    &:hover{
        background-color: rgb(0, 0, 0);
    }
}