.fromradio-component-styles{
    .product-price{
        font-size: 1rem;
    }
    .radio-group-name{
        margin-top: 10px;
        font-size: 0.8rem
    }
    .radio-group-wrapper{
        display: flex;
        input{
            display: none;
        }
        flex-wrap: wrap;
        .radio{
            margin:1px;
            .radio-label{
                margin: 0 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                border-radius: 50px;
                width: 100px;
                padding: 1px 10px 4px 10px;
                transition: background-color 0.3s;
                border: 3px solid #ffffff00;
                @media(pointer: fine){
                &:hover{
                    background-color: $secondary-color-light-gray;
                   
                }
            }
                transition: 0.3s;
            }
            input:checked + .radio-label{
               background-color: $secondary-color-black;
               color: $primary-color;
              
               transition: background-color 0.3s;
               
            }
        }



        
    }
}