
@import "./variable.scss";

//Global Style
html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-familly-body;
  background-color: #fff;
  font-weight: 300;
  font-size: 1rem;
  overflow-x: hidden;

}

h1 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.globla-wrapper{
  width: 100%;
  
  transition: 300ms;

}

.globla-wrapper-slideright{
  transform: translateX(50%);
  transition: 300ms;
}

.global-container {
  display: flex;
  
  align-items: center;
 width: 100%;
 flex-direction: column;


}

.content-container{

  max-width: $max-wight-container;
  width: 100%;
  padding-left: $padding-content-border;
  padding-right: $padding-content-border;

}

button{
  border-radius: unset;
  border-style: unset;
  background-color: unset;
}

::selection {
 
  background: $primary-color;
  color: black;
} 

//Page Styles
@import'./pagesstyles/page-home.scss';
@import './pagesstyles/page-product.scss';
@import './pagesstyles/checkout-page-styles.scss';
@import './pagesstyles/collection-page-styles.scss';
@import'./pagesstyles/cart-page-styles.scss';


//Components Styles
@import './componentsstyles/header-style.scss';
@import './componentsstyles/button-primary.scss';
@import './componentsstyles/footer-style.scss';
@import './componentsstyles/productCard-component-styles.scss';
@import './componentsstyles/productsList-component-styles.scss';
@import './componentsstyles/shootbook-section-component-styles.scss';
@import './componentsstyles/productImageList-component-styles.scss';
@import './componentsstyles/productForm-component-styles.scss';
@import './componentsstyles/FormRadioVariations-component-styles.scss';
@import './componentsstyles/productFormMobile-component-styles.scss';
@import'./componentsstyles/detailCompositionProduct-component-styles.scss';
@import './componentsstyles/ModalAddToCard-components-styles.scss';
@import './componentsstyles/cartdetailmodal-component-styles.scss';
@import './componentsstyles/cartdetail-conponent-styles.scss';
@import './componentsstyles/forminput-component-styles.scss';
@import '../components/checkoutComponents/ShippingForm-component-styles.scss';
@import '../components/checkoutComponents/PaiementForm-component-style.scss';
@import '../components/spin/spin-styles.scss';
@import '../components/checkoutSideBar/checkoutsidebar-style.scss';
@import '../components/modalPopUp/modalPopUp-styles.scss';
//Components CSS Annimation
@import '../components/ImageSlider/image-Slide-component-annimation-styles.scss'