.menu-container {
  display: flex;
  position: fixed;
  z-index: 90;
  color: white;
  mix-blend-mode: difference;
}
.menu-principal {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  height: 40px;

  .menu-columns {
    display: flex;
    margin-top: auto;
    font-family: "Syncopate", sans-serif;
  }
  div.menu-left {
    grid-area: 1 / 1 / span 1 / span 1;
  }
  div.menu-center {
    grid-area: 1 / 2 / span 1 / span 1;
    justify-content: center;
    .img-wrapper {
      height: 20px;
      display: flex;
    }
  }
  div.menu-right {
    grid-area: 1 / 3 / span 1 / span 1;
    justify-content: end;
    justify-content: flex-end;
  }
  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 50px;
   



    &:hover{
      background-color: white;
      color: black;
      transition: 0.2s ease;
    }
  }

  .sub-menu{
    position: absolute;
   
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        margin: 10% 0;
        div.sub-menu-item{
          padding: 8px 20px;
          border-radius: 50px;
         

    

          &:hover{
            background-color: white;
            color: black;
 
            transition: 0.2s ease;
          }
     
          span{
         
            &:hover{
              

              background-color: white;
              color: black;
   
              transition: 0.2s ease;
              

            }
          };
        }

      }

    }
  }
  button{
    padding: 0;
    margin: 0;
  }
}
