
.spaceBottomCollection1{
    height: 25vh;
    @media screen and (max-width: 770px){
        height: 5vh;
    }

        
    
}
.global{
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.section{

    scroll-snap-align: start;
    height: auto;
}
.spaceBottomCollection2{
    height: 0vh;
    @media screen and (max-width: 770px){
        height: 10vh;
    }
    @media screen and (max-width: 370px){
        height: 10vh;
    }
        
    
}
.spaceBottomInterlude{
    height: 5vh;
    @media screen and (max-width: 770px){
        height: 10vh;
    }
    @media screen and (max-width: 370px){
        height: 10vh;
    }

        
    
}

.spaceBottomShootbook{
    height: 10vh;
    @media screen and (max-width: 770px){
        height: 5vh;
    }

        
    
}