.page-product-style-container{
    padding-top: 60px;
    .product-description-container{

        
        .grid-wrapper{
            display: flex;
            width: 100%;
            .left-container{
                
                width: 60%;
               
                

            }

            .right-container{
                width:40%;
         
            }

        }
    }


}   