.productform-container{

    .product-title{
        font-family: $font-familly-title;
        font-weight: 100;
        font-size: clamp(30px,6vw, 100px);
        margin-bottom: 0;
        margin-left: -10px;
        
    }
    .product-title-price-wrapper{
        margin-bottom: 10%;
    }
    .product-price{
       
        font-size: 1rem;
    }
    .btn-ajouter-panier{
        margin-top: 10%;
        margin-left: -15px;
    }

}