
//Lib extern


//Global Variables
$primary-color: #B4FD57;
$secondary-color-black:#000000;
$secondary-color-gray: #868686;
$secondary-color-light-gray: #EDEDED;
$max-wight-container: 1500px;
$border-radius-img: 50px;
$padding-content-border: 20px;
$font-familly-title:'Syncopate', sans-serif;
$font-familly-body:'Roboto Mono', sans-serif;
$primary-color-darker:  #71b716;
$background-color-gray: #D9D9D9;